:root{
    --cor_primaria: #00d9f8;
    --cor_secundaria: #1da3b8;
    --Backgroud: #dfdfdf;
    --CP_darkmode: #213872;
    --CS_darkmode: #0e2555;
    --BKG_darkmode: #303030;

    --Border_radius: 45px;
    --box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);
    --tamanho_fonte: 19px;
    --borda: 0.9px #1da3b8 solid;
    --borda-dk: 0.9px #213872 solid;
}

form{
    width: 30%;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: 1px var(--cor_primaria) solid;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 70px;
}

form h3{
    margin: 0;
    /*background-color: var(--cor_primaria);*/
    color: #202020;
    padding: 14px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    text-align: center;
    font-size: 37px;
}

.nome{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

#nome{
    width: 55%;
    height: 30px;
    border: 1px var(--cor_secundaria) solid;
    border-radius: 5px;
}

.email{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

#email{
    width: 55%;
    height: 30px;
    border: 1px var(--cor_secundaria) solid;
    border-radius: 5px;
}

.senha{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}


#senha{
    width: 55%;
    height: 30px;
    border: 1px var(--cor_secundaria) solid;
    border-radius: 5px;
}

.peso{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

#peso-cad{
    width: 55%;
    height: 30px;
    border: 1px var(--cor_secundaria) solid;
    border-radius: 5px;
}

.alturac{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

#alturac{
    width: 55%;
    height: 30px;
    border: 1px var(--cor_secundaria) solid;
    border-radius: 5px;
}

.nascimento{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

#nasci{
    width: 55%;
    height: 30px;
    border: 1px var(--cor_secundaria) solid;
    border-radius: 5px;
}


label{
    font-size: 20px;
    color: #3f3f3f;
}

.genero{
    margin-top: 20px;
    margin-bottom: 20px;
}

.gen{
    font-size: 15px;
}

.radio {
  border: 1px var(--cor_secundaria) solid;
  border-radius: 5px;
  width: 300px;
  margin: 8px auto; /* centraliza horizontalmente */
  padding: 3px;
  display: flex;
  justify-content: space-around; /* espaça os radios igualmente */
  align-items: center;
  flex-wrap: wrap; /* caso fique apertado em telas pequenas */
}

/*
.estado{
    margin-bottom: 20px;
}

#estado{
    width: 250px;
    background-color: transparent;
    border: 1px var(--cor_secundaria) solid;
    height: 30px;
    border-radius: 5px;
}

.menssagem{
    margin-bottom: 20px;
}

#menssagem{
    width: 300px;
    height: 200px;
    resize: none;
    border: 1px var(--cor_secundaria) solid;
    border-radius: 5px;
}
*/

.envi{
    margin-bottom: 10px;
}

#enviar{
    color: #3f3f3f;
    background-color: transparent;
    width: 22%;
    height: 40px;
    border: 1px var(--CP_darkmode) solid;
    border-radius: 7px;
    font-size: 18px;
}

#enviar:hover{
    background-color: var(--CP_darkmode);
    color: white;
    transition: 0.3s;
}

option{
    font-size: 18px;
    text-align: center;
    color: #3f3f3f;
}

select{
    font-size: 18px;
    color: #3f3f3f;
}

.entre{
    color: var(--cor_primaria);
    text-decoration: none;
    overflow: hidden;
}