:root{
    --cor_primaria: #00d9f8;
    --cor_secundaria: #1da3b8;
    --Backgroud: #dfdfdf;
    --CP_darkmode: #213872;
    --CS_darkmode: #0e2555;
    --BKG_darkmode: #303030;

    --Border_radius: 45px;
    --box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);
    --tamanho_fonte: 19px;
    --borda: 1px #00d9f8 solid;
    --borda-dk: 1px #213872 solid;
    --transparente: rgba(0, 217, 248, 0.1);
    --transparent_dk: rgba(33, 56, 114, 0.1);
}
main{
    display: flex;
    border: 1px var(--cor_primaria) solid;
    border-radius: 15px;
    width: 95%;
    margin: auto;
    height: 94vh;
}
/*
===============================================================================================================
Contatos
===============================================================================================================
*/
aside{
    width: 23%;
}
aside h2{
    background-color: var(--cor_primaria);
    margin: auto;
    padding-block: 4%;
    border-top-left-radius: 12px;
}
.contatos{
    width: 100%;
    padding-bottom: 10%;
}
.contato{
    display: flex;
    align-items: center;
    border-block: 1px var(--CS_darkmode) solid;
    transition: 0.5s ease-in-out;
}
.contato:hover{
    background-color: #ddd;
}
.foto-perfil{
    width: 20%;
    align-items: center;
    border-radius: 100%;
    border: 1px var(--cor_primaria) solid;
    margin: 2%;
}
.input{
    width: 90%;
    margin: auto;
    margin-top: 5%;
}
label{
    color: var(--CS_darkmode);
    font-family: 'Montserrat' , sans-serif;
    font-weight: bold;
}
input{
    width: 100%;
    height: 30px;
    border: 1px var(--cor_primaria) solid;
    border-radius: 6px;
    margin-bottom: 3%;
    color: var(--CS_darkmode);
    font-size: 105%;
    background: transparent;
}
textarea{
    width: 100%;
    resize: none;
    border: 1px var(--cor_primaria) solid;
    border-radius: 6px;
    font-size: 105%;
    height: 24vh;
    background: transparent;
}
.enviar{
    background-color: var(--CP_darkmode);
    font-size: 110%;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.5s ease-in-out;
}
.enviar:hover{
    transform: scale(1.05);
    background-color: var(--CS_darkmode);
    box-shadow: 0 0 13px var(--CS_darkmode);
}

/*
===============================================================================================================
Conversa
===============================================================================================================
*/
article{
    width: 77%;
    border-left: 2px var(--cor_secundaria) solid;
}
.perfil-profissional{
    width: 100%;
    display: flex;
    background-color: var(--cor_primaria);
    margin: 0 auto;
    padding-block: 1%;
    border-top-right-radius: 12px;
    align-items: center;
    align-self: flex-start;
    gap: 1%;
}
.perfil{
    display: flex;
    gap: 1%;
    align-items: center;
    align-self: flex-start;
}
#foto-perfil{
    margin-left: 1%;
    width: 8%;
    border-radius: 100%;
    border: 2px var(--CS_darkmode) solid;
}
.icones{
    display: flex;
    gap: 25%;
    margin-right: 10%;
}
.icones i{
    color: var(--CP_darkmode);
    font-size: 220%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.icones i:hover{
    color: var(--CS_darkmode);
    transform: scale(1.06);
}
/*Mensagens*/
.conversa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 1%;
}
.mensagem-profissional{
    background-color: transparent;
    border-block: 2px var(--cor_primaria) solid;
    border-right: 2px var(--cor_primaria) solid;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 48%;
    margin-block: 1%;
    padding-inline: 0.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mensagem-profissional p{
    max-width: 90%;
}
.sua-mensagem{
    background-color: var(--cor_primaria);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 48%;
    margin-left: auto;
    margin-block: 2%;
    padding-inline: 0.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sua-mensagem p{
    max-width: 90%;
}
.hora{
    font-size: 80%;
    color: gray;
    margin-top: 3%;
}
#ho2{
    margin-top: 12%;
}
#ho3{
    margin-top: 6%;
}
#ho4{
    margin-top: 9%;
}

/*Enviar mensagem*/
.enviar-mensagem{
    display: flex;
    padding-inline: 1%;
    gap: 1%;
    align-items: flex-start;
}
.enviar-mg{
    width: 90%;
    height: 40px;
}
.botao-mg{
    width: 10%;
    height: 40px;
    background-color: var(--cor_primaria);
    border: none;
    border-radius: 8px;
    font-size: 120%;
    color: white;
    font-weight: bold;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.botao-mg:hover{
    background-color: var(--cor_secundaria);
    transform: scale(1.04);
    box-shadow: 0 0 14px var(--cor_secundaria);
}

/*
===============================================================================================================
Calendário
===============================================================================================================
*/
.calendario{
    margin-top: 2%;
}
.calendario-div{
    width: 80%;
    border: 1px var(--cor_primaria) solid;
    border-radius: 15px;
    margin: auto;
}
.calendario-div h3{
    font-size: 140%;
    background-color: var(--cor_primaria);
    margin: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding-block: 2%;
}
.container-calendario{
    display: flex;
    gap: 2%;
    padding-inline: 1%;
    margin-top: 0;
    justify-content: center;
}
.dia-calendario{
    font-size: 128%;
    font-weight: bold;
    background-color: var(--cor_primaria);
    padding-inline: 5%;
    padding-block: 3%;
    border-radius: 15px;
    margin-block: 1%;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.dia-calendario:hover{
    transform: scale(1.05);
    background-color: var(--cor_secundaria);
}
.dia-invalido{
  font-size: 128%;
    font-weight: bold;
    background-color: red;
    padding-inline: 5%;
    padding-block: 3%;
    border-radius: 15px;
    margin-block: 1%;
    transition: 0.5s ease-in-out;  
}
.dia-calendario.ativo{
    background-color: var(--CP_darkmode);
    color: white;
}
#ultimo{
    margin-left: 1%;
}


/*
===============================================================================================================
Modo Noturno
===============================================================================================================
*/
body.darkmode main, body.darkmode input, body.darkmode textarea{
    border-color: var(--CP_darkmode);
}
body.darkmode input, body.darkmode textarea{
    color: white;
}
body.darkmode label{
    color: white;
}
body.darkmode aside h2{
    background-color: var(--CP_darkmode);
}
body.darkmode .perfil-profissional{
    background-color: var(--CP_darkmode);
}
body.darkmode article{
    border-left-color: var(--CS_darkmode);
}
body.darkmode article i{
    color: var(--cor_primaria);
}
body.darkmode article i:hover{
    color: var(--cor_secundaria);
}
body.darkmode .contato{
    border-block-color: var(--cor_primaria);
}
body.darkmode .contato:hover{
    background-color: #202020;
}
body.darkmode .mensagem-profissional{
    border-block-color: var(--CP_darkmode);
    border-right-color: var(--CP_darkmode);
}
body.darkmode .sua-mensagem{
    background-color: var(--CP_darkmode);
    
}
body.darkmode .enviar{
    background-color: var(--cor_primaria);
}
body.darkmode .enviar:hover{
    background-color: var(--cor_secundaria);
    box-shadow: 0 0 13px var(--cor_secundaria);
}
body.darkmode .botao-mg{
    background-color: var(--CP_darkmode);
}
body.darkmode .botao-mg:hover{
    background-color: var(--CS_darkmode);
    box-shadow: 0 0 13px var(--CS_darkmode);
}
body.darkmode .calendario-div{
    border-color: var(--CP_darkmode);
}
body.darkmode .calendario-div h3{
    background-color: var(--CP_darkmode);
}
body.darkmode .dia-calendario{
    background-color: var(--CP_darkmode);
}
body.darkmode .dia-calendario:hover{
    background-color: var(--CS_darkmode);
}
body.darkmode .dia-calendario.ativo{
    background-color: var(--cor_primaria);
}

/*
===============================================================================================================
Responsividades
===============================================================================================================
*/
@media(min-width:1870px){
    main{
        height: 75vh;
    }
    #ho2{
        margin-top: 0;
        margin-top: 5%;
    }
    #ho4{
        margin-top: 0;
        margin-top: 5%;
    }
    .enviar-mensagem{
        margin-top: 12%;
    }
    .calendario-div h3{
        font-size: 200%;
    }
    #ultimo{
        margin-left: 2.9%;
    }
    .dia-calendario{
        font-size: 140%;
    }
    .icones{
        gap: 30%;
    }
}
@media(max-width:1024px){
    aside h2{
        font-size: 110%;
    }
    input{
        font-size: 100%;
    }
    textarea{
        height: 34vh;
    }
    #ho3{
        margin-top: 0;
        margin-top: 13%;
    }
    #ho4{
        margin-top: 0;
        margin-top: 11%;
    }
    .enviar-mensagem{
        margin-top: 7%;
    }
    .dia-calendario, .dia-invalido{
        padding-inline: 0;
        padding-inline: 4%;
        padding-block: 0;
        padding-block: 2%;
    }
    #ultimo{
        margin-left: 5.5%;
    }
    .contato h3{
        font-size: 90%;
        white-space: nowrap;
    }
}
@media(max-width:900px){
    main{
        width: 92%;
        height: 103vh;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .contatos{
        margin-bottom: 29%;
    }
    .contato h3{
        font-size: 80%;
    }
    aside label{
        font-size: 97%;
    }
    textarea{
        height: 30vh;
    }
    .enviar-mensagem{
        margin-top: 3%;
    }
    .botao-mg{
        font-size: 100%;
    }
    .sua-mensagem p, .mensagem-profissional p{
        font-size: 90%;
    }
    .sua-mensagem, .mensagem-profissional{
        width: 50%;
    }
    .sua-mensagem{
        overflow: hidden;
        margin-left: 0 auto;
    }
    input{
        font-size: 80%;
    }
    .hora{
        font-size: 80%;
        margin-right: 0;
    }
    .icones i{
        font-size: 200%;
    }
    #ho1{
        margin-top: 7%;
    }
    #ho2{
        margin-top: 0;
        margin-top: 13%;
    }
    #ho4{
        margin-top: 0;
        margin-top: 14%;
    }
    .dia-calendario, .dia-invalido{
        padding-block: 2.5%;
        padding-inline: 4.5%;
    }
    #ultimo{
        margin-left: 0;
        margin-left: 1%;
    }
}