:root{
    --cor_primaria: #00d9f8;
    --cor_secundaria: #1da3b8;
    --Backgroud: #dfdfdf;
    --CP_darkmode: #213872;
    --CS_darkmode: #0e2555;
    --BKG_darkmode: #303030;

    --Border_radius: 45px;
    --box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);
    --tamanho_fonte: 19px;
    --borda: 0.9px #1da3b8 solid;
    --borda-dk: 0.9px #213872 solid;
}

/*
===============================================================================================================
Formulário de contato
===============================================================================================================
*/
form{
    width: 60%;
    display: block;
    margin: auto;
    border: var(--cor_primaria) solid 1px;
    border-radius: 15px;
}
.container-form{
    display: flex;
    padding-left: 3%;
}
/*
===============================================================================================================
Parte dos inputs
===============================================================================================================
*/
label{
    color: var(--CS_darkmode);
    font-family: 'Montserrat' , sans-serif;
    font-size: 140%;
}
form .campos-input{
    width: 50%;
    display: block;  
}
form input{
    background-color: transparent;
    width: 93%;
    margin-bottom: 4%;
    height: 30px;
    border-radius: 5px;
    border: 1px var(--cor_primaria) solid;
}
#enviar{
    background-color: var(--CP_darkmode);
    border-color: var(--CP_darkmode);
    color: white;
    font-weight: bold;
    font-size: 110%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
#enviar:hover{
    background-color: var(--CS_darkmode);
    border-color: var(--CS_darkmode);
    transform: scale(1.05);
    box-shadow: 0 0 12px var(--CS_darkmode);
}
/*
===============================================================================================================
Parte da mensagem
===============================================================================================================
*/
.card-contato{
    width: 50%;
    margin: 0;
    background: linear-gradient(45deg, var(--cor_primaria), var(--cor_secundaria));
    height: auto;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
textarea{
    background-color: transparent;
    border: 2px var(--CS_darkmode) solid;
    border-radius: 7px;
    display: block;
    margin: auto;
    resize: none;
    height: 75%;
    width: 75%;
    color: var(--CS_darkmode);
}

/*
===============================================================================================================
Modo Noturno
===============================================================================================================
*/
body.darkmode form, body.darkmode form input{
    border-color: var(--CP_darkmode);
    color: white;
}
body.darkmode label{
    color: white;
}
body.darkmode #enviar{
    background-color: var(--cor_primaria);
    border-color: var(--cor_primaria);
}
body.darkmode #enviar:hover{
    box-shadow: 0 0 13px var(--cor_primaria);
}
body.darkmode .card-contato{
    background: linear-gradient(45deg, var(--CP_darkmode), var(--CS_darkmode));
}
body.darkmode textarea{
    color: white;
    border-color: var(--cor_primaria)
}