:root{
    --cor_primaria: #00d9f8;
    --cor_secundaria: #1da3b8;
    --Backgroud: #fff;
    --CP_darkmode: #213872;
    --CS_darkmode: #0e2555;
    --BKG_darkmode: #303030;

    --Border_radius: 45px;
    --box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);
    --borda: 1px #00d9f8 solid;
    --borda-dk: 1px #213872 solid;
}
h3{
    font-size: 140%;
}

/*
===============================================================================================================
Formulário
===============================================================================================================
*/
form{
    width: 70%; /*width: 50%;*/
    margin: auto;
    display: flex;
    justify-content: center;
    border: 1px var(--cor_primaria) solid;
    border-radius: 15px;
}
.formulario{
    width: 50%;
}
label{
    color: var(--CS_darkmode);
    font-family: 'Montserrat' , sans-serif;
    font-size: 130%;
    font-weight: 450;
}
.input{
    width: 70%; /*width: 85%;*/
    display: block;
    margin: auto;
    margin-bottom: 3%;
}
input{
    width: 100%;
    height: 30px;
    border: 1px var(--cor_primaria) solid;
    border-radius: 8px;
    background-color: transparent;
    font-size: 105%;
    color: var(--CS_darkmode);
}
select{
    width: 100%;
    height: 30px;
    color: var(--CS_darkmode);
    border: 1px var(--cor_primaria) solid;
    border-radius: 8px;
    font-size: 105%;
    background-color: transparent;
}
option{
    color: var(--CS_darkmode);
    border-color: var(--cor_primaria);
}
.enviar{
    width: 70%;
    display: block;
    margin: auto;
    background-color: var(--CP_darkmode);
    border-color: var(--CP_darkmode);
    color: white;
    font-weight: bold;
    font-size: 130%;
    margin-bottom: 3%;
    transition: 0.5s ease-in-out;
}
.enviar:hover{
    background-color: var(--CS_darkmode);
    border-color: var(--CS_darkmode);
    transform: scale(1.05);
    box-shadow: 0 0 13px var(--CS_darkmode);
}

/*
===============================================================================================================
Calendário
===============================================================================================================
*/
.card{
    width: 50%;
    margin: 0;
    background: linear-gradient(45deg, var(--cor_primaria), var(--cor_secundaria));
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    /*display: none;*/
}
textarea{
    width: 100%;
    height: 50vh;
    border: 2px var(--CP_darkmode) solid;
    border-radius: 8px;
    resize: none;
    background-color: transparent;
    color: var(--CS_darkmode);
    font-size: 105%;
}
#enviar2{
    display: none;
}

/*
===============================================================================================================
Modo Noturno
===============================================================================================================
*/
body.darkmode form{
    border-color: var(--CP_darkmode);
}
body.darkmode label, body.darkmode select, body.darkmode textarea{
    color: white;
}
body.darkmode .input input, body.darkmode select{
    border-color: var(--CP_darkmode);
}
body.darkmode textarea{
    border-color: var(--cor_primaria);
}
body.darkmode .card{
    background: linear-gradient(45deg, var(--CP_darkmode), var(--CS_darkmode));
}
body.darkmode .enviar{
    background-color: var(--cor_primaria);
    border-color: var(--cor_primaria);
}
body.darkmode .enviar:hover{
    border-color: var(--cor_secundaria);
    background-color: var(--cor_secundaria);
    box-shadow:  0 0 13px var(--cor_secundaria);
}

/*
===============================================================================================================
Responsividades
===============================================================================================================
*/
@media(min-width: 1870px){
    footer{
        margin-top: 15vh;
    }
    textarea{
        height: 31vh;
    }
}
@media(max-width:1024px){
    form{
        width: 82%;
    }
}
@media(max-width:900px){
    form{
        width: 85%;
    }
    .input, .enviar{
        width: 77%;
    }
}
@media(max-width:768px){
    form{
        width: 87%;
    }
    h3{
        font-size: 125%;
    }
    .input, .enviar{
        width: 80%;
    }
}
@media(max-width:480px){
    form{
        width: 95%;
    }
    h3{
        font-size: 120%;
    }
    .input, .enviar{
        width: 90%;
    }
}
@media(max-width:420px){
    form{
        display: block;
        width: 75%;
        overflow-x: hidden;
    }
    h1{
        font-size: 190%;
    }
    h3{
        white-space: nowrap;
        text-align: center;
    }
    .formulario h3{
        margin-left: 31%;
    }
    .card{
        border-bottom-left-radius: 12px;
        border-top-right-radius: 0;
        width: 100%;
        padding-bottom: 2%;
    }
    .input{
        display: block;
        margin: auto;
        width: 160%;
        margin-bottom: 5%;
    }
    .enviar{
        width: 160%;
    }
    #enviar{
        display: none;
    }
    #enviar2{
        display: block;
        width: 81%;
        margin: auto;
        
    }
    .input, .enviar{
        margin-left: 19%;
    }
    textarea{
        width: 50%;
        display: block;
        margin-left: -6%;
    }
}
@media(max-width:370px){
    form{
        width: 85%;
    }
    h1{
        font-size: 180%;
    }
    .formulario h3{
        margin-left: 30%;
    }
}
@media(max-width:320px){
    form{
        width: 90%;
    }
    h1{
        font-size: 170%;
    }
    h3{
        font-size: 118%;
    }
    .formulario h3{
        margin-left: 24%;
    }
}