:root{
    --cor_primaria: #00d9f8;
    --cor_secundaria: #1da3b8;
    --Backgroud: #dfdfdf;
    --CP_darkmode: #213872;
    --CS_darkmode: #0e2555;
    --BKG_darkmode: #303030;

    --Border_radius: 45px;
    --box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);
    --tamanho_fonte: 19px;
    --borda: 0.9px #1da3b8 solid;
    --borda-dk: 0.9px #213872 solid;
}

/*
===============================================================================================================
Formulário de contato
===============================================================================================================
*/
form{
    width: 60%;
    display: block;
    margin: auto;
    border: var(--cor_primaria) solid 1px;
    border-radius: 15px;
}
.container-form{
    display: flex;
    padding-left: 3%;
}
/*
===============================================================================================================
Parte dos inputs
===============================================================================================================
*/
label{
    color: var(--CS_darkmode);
    font-family: 'Montserrat' , sans-serif;
    font-size: 140%;
}
form .campos-input{
    width: 50%;
    display: block;  
}
form input{
    background-color: transparent;
    width: 93%;
    margin-bottom: 4%;
    height: 30px;
    border-radius: 5px;
    border: 1px var(--cor_primaria) solid;
}
.enviar{
    background-color: var(--CP_darkmode);
    border-color: var(--CP_darkmode);
    color: white;
    font-weight: bold;
    font-size: 110%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.enviar:hover{
    background-color: var(--CS_darkmode);
    border-color: var(--CS_darkmode);
    transform: scale(1.05);
    box-shadow: 0 0 13px var(--CS_darkmode);
}
/*
===============================================================================================================
Parte da mensagem
===============================================================================================================
*/
.card-contato{
    width: 50%;
    margin: 0;
    background: linear-gradient(45deg, var(--cor_primaria), var(--cor_secundaria));
    height: auto;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
textarea{
    background-color: transparent;
    border: 2px var(--CS_darkmode) solid;
    border-radius: 7px;
    display: block;
    margin: auto;
    resize: none;
    height: 75%;
    width: 75%;
    color: var(--CS_darkmode);
}
#enviar2{
    display: none;
}
/*
===============================================================================================================
Ir para o contato com profissional
===============================================================================================================
*/
#ir-profissional{
    font-size: 130%;
    text-align: center;
    margin-top: 5%;
}
#ir-profissional a{
    text-decoration: none;
    color: var(--cor_primaria);
    font-weight: bold;
    margin-left: 0.5%;
    transition: 0.4s ease-in-out;
}
#ir-profissional a:hover{
    color: var(--CP_darkmode);
}

/*
===============================================================================================================
Perguntas frequentes
===============================================================================================================
*/

.faq{
    width: 70%;
    margin: auto;
    border: 1px solid var(--cor_primaria);
    border-radius: 15px;
    padding-bottom: 1%;
    margin-bottom: 3%;
}
.faq p{
    width: 97%;
    margin: auto;
    font-size: 110%;
}

/*
===============================================================================================================
Modo Noturno
===============================================================================================================
*/
body.darkmode form, body.darkmode form input{
    border-color: var(--CP_darkmode);
    color: white;
}
body.darkmode label{
    color: white;
}
body.darkmode .enviar{
    background-color: var(--cor_primaria);
    border-color: var(--cor_primaria);
}
body.darkmode .enviar:hover{
    box-shadow: 0 0 13px var(--cor_primaria);
}
body.darkmode .card-contato{
    background: linear-gradient(45deg, var(--CP_darkmode), var(--CS_darkmode));
}
body.darkmode textarea{
    color: white;
    border-color: var(--cor_primaria)
}

/*
===============================================================================================================
Responsividade
===============================================================================================================
*/
@media(min-width:1870px){
    #enviar{
        width: 50%;
        display: block;
        margin: auto;
        margin-bottom: 3%;
    }
    footer{
        margin-top: 12vh;
    }
}
@media(max-width:1024px){
    form{
        width:75%;
    }
}
@media(max-width:768px){
    form{
        width: 85%;
    }
}
@media(max-width:480px){
    form{
        width: 92%;
    }
    textarea{
        width: 90%;
    }
    #ir-profissional{
        font-size: 110%;
        width: 98%;
    }
}
@media(max-width:420px){
    .container-form{
        flex-direction: column;
        justify-content: center;
    }
    .campos-input{
        width: 70%;
        display: block;
        margin: auto;
        margin-left: 10.4%;
    }
    .campos-input h3{
        margin-left: 33%;
        white-space: nowrap;
    }
    form input{
        width: 150%;
        display: block;
        margin: auto;
        margin-block: 5%;
    }
    #enviar{
        display: none;
    }
    #enviar2{
        display: block;
        width: 70%;
    }
    .card-contato{
        width: 103%;
        margin: auto;
        margin-top: 4%;
        margin-left: -3%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 12px;
    }
    textarea{
        height: 40vh;
    }
}
@media(max-width:320px){
    h1{
        font-size: 170%;
        white-space: nowrap;
    }
    label{
        font-size: 120%;
        white-space: nowrap;
    }
    .campos-input{
        margin-left: 6%;
    }
    form input{
        width: 170%;
    }
}