:root{
    --cor_primaria: #00d9f8;
    --cor_secundaria: #1da3b8;
    --Backgroud: #dfdfdf;
    --CP_darkmode: #213872;
    --CS_darkmode: #0e2555;
    --BKG_darkmode: #303030;

    --Border_radius: 45px;
    --box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);
    --tamanho_fonte: 19px;
    --borda: 1px #00d9f8 solid;
    --borda-dk: 1px #213872 solid;
    --transparente: rgba(0, 217, 248, 0.1);
    --transparent_dk: rgba(33, 56, 114, 0.1);
}
h1{
    margin-bottom: 6%;
}

/*
==========================================================================================================
Rotina de treino
==========================================================================================================
*/
.rotina_treino{
    width: 70%;
    margin: auto;
    border: 1px solid var(--cor_primaria);
    border-radius: 15px;
}
#pintro{
    text-align: center;
    font-size: 120%;
    font-weight: 600;
}
.dia_semana{
    border-top: 1px solid var(--cor_primaria);
    margin-top: 3%;
}
.dia_semana h3{
    font-size: 140%;
}
.r_indicador{
    font-size: 130%;
    font-weight: 500;
    text-align: center;
}
.r_valor{
    width: 70%;
    margin: auto;
    border: 2px solid var(--cor_primaria);
    font-size: 125%;
    font-weight: bolder;
    border-radius: 6px;
    margin-bottom: 2%;
}
.butao{
    width: 10%;
    margin: auto;
}
.r_alterar{
    background-color: var(--CP_darkmode);
    font-size: 120%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 4%;
    transition: 0.3s ease-in-out;
}
.r_alterar:hover{
    background-color: var(--CS_darkmode);
    box-shadow: 0 0 14px var(--CS_darkmode);
    transform: scale(1.05);
}

/*
==========================================================================================================
Modo noturno
==========================================================================================================
*/
body.darkmode .rotina_treino, body.darkmode .r_valor{
    border-color: var(--CP_darkmode);
}
body.darkmode .dia_semana{
    border-top-color: var(--CP_darkmode);
}
body.darkmode .r_alterar{
    background-color: var(--cor_primaria);
}
body.darkmode .r_alterar:hover{
    background-color: var(--cor_secundaria);
    box-shadow: 0 0 14px var(--cor_secundaria);
}