/*
===============================================================================================================
Estilo geral
===============================================================================================================
*/
:root{
    --cor_primaria: #00d9f8;
    --cor_secundaria: #1da3b8;
    --Backgroud: #dfdfdf;
    --CP_darkmode: #213872;
    --CS_darkmode: #0e2555;
    --BKG_darkmode: #303030;

    --Border_radius: 45px;
    --box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);
    --tamanho_fonte: 19px;
    --borda: 1px #00d9f8 solid;
    --borda-dk: 1px #213872 solid;
    --transparente: rgba(0, 217, 248, 0.3);
    --transparent_dk: rgba(33, 56, 114, 0.3);
}
h1{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 220%;
}
h2{
    font-size: 200%;
}

/*
===============================================================================================================
Benefícios do plano
===============================================================================================================
*/
.beneficios{
    margin-top: 8%;
}
.container-beneficio{
    display: flex;
    justify-content: center;
    gap: 4%;
}
.beneficio-card{
    width: 21%;
    background-color: var(--cor_primaria);
    border-radius: 15px;
    transition: 0.4s;
}
.beneficio-card:hover{
    width: 22%;
    box-shadow: var(--box-shadow);
}
.beneficio-card h3{
    font-size: 150%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.beneficio-card p{
    width: 92%;
    text-align: center;
    display: block;
    margin: auto;
    font-size: 130%;
    margin-bottom: 4%;
    font-weight: 410;
}

/*
===============================================================================================================
Treinos premium
===============================================================================================================
*/
.treinos{
    margin-top: 7%;
}
.treino-intro{
    display: flex;
    justify-content: space-between;
    padding-inline: 1%;
    padding-block: 1%;
    margin-top: 10%;
}
.treino-intro img{
    width: 22%;
    border-radius: 15px;
}
.treino-intro h3{
    font-size: 140%;
}
.treino-intro p{
    font-size: 125%;
    width: 96%;
    display: block;
    margin: auto;
    margin-bottom: 3%;
}
.ir-treino{
    width: 23%;
    font-size: 140%;
    text-decoration: none;
    background-color: var(--cor_primaria);
    border-radius: 15px;
    color: white;
    padding-block: 1%;
    padding-inline: 1%;
    font-weight: bold;
    display: block;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    transition: 0.4s;
}
.ir-treino:hover{
    background-color: var(--cor_secundaria);
}
.personalize-treino{
    margin-top: 5%;
}
#link-personalizado{
    width: 23.6%;
}

/*
===============================================================================================================
Navegação entre dietas
===============================================================================================================
*/
.nav-dieta{
    display: flex;
    justify-content: center;
    gap: 4%;
    margin-top: 3%;
}
.nav-linkd{
    color: var(--cor_primaria);
    font-weight: bold;
    font-size: 140%;
    text-decoration: none;
    transition: 0.4s;
}
.nav-linkd:hover{
    color: var(--CP_darkmode);
}

/*
===============================================================================================================
Dietas premium
===============================================================================================================
*/
.dietas{
    margin-top: 8%;
}
.dietas h3{
    font-size: 130%;
}
.intro-dieta{
    margin-top: 9%;
}
.intro-dieta h3{
    font-size: 130%;
}
.tabela{
    display: flex;
    justify-content: center;
}
table{
    display: block;
    border-collapse: separate;
    border-spacing: 6vh;
}
th {
    background-color: var(--cor_primaria);
    color: white;
    font-size: 135%;
    padding-inline: 3vh;
    padding-block: 2vh;
    border-radius: 6px;
    transition: all 0.4s ease;
    cursor: pointer;
}
th:hover {
    background-color: var(--cor_secundaria);
}
td{
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    color: var(--CS_darkmode);
    transition: 0.4s;
    cursor: pointer;
}
td:hover{
    color: var(--cor_secundaria);
}

/*
===============================================================================================================
POPUP
===============================================================================================================
*/
.popup{
    width: 60%;
    background: linear-gradient(45deg, var(--cor_primaria), var(--cor_secundaria));
    border: none;
    border-radius: 16px;
    border: 1px var(--CP_darkmode) solid;
}
.popup p{
    width: 90%;
    font-size: 130%;
    font-weight: 430;
    display: block;
    margin: auto;
    margin-bottom: 5%;
}
.linkar-pop{
    background: none;
    border: none;
    font-weight: bold;
    font-size: 100%;
    color: var(--CS_darkmode);
    cursor: pointer;
    transition: 0.4s;
    text-align: center;
}
.linkar-pop:hover{
    color: var(--cor_secundaria);
}

/*
===============================================================================================================
Modo Noturno
===============================================================================================================
*/
body.darkmode .beneficio-card{
    background-color: var(--CP_darkmode);
}
/*
body.darkmode .treino-intro{
    background-color: var(--transparent_dk);
}*/
body.darkmode .ir-treino{
    background-color: var(--CP_darkmode);
}
body.darkmode .ir-treino:hover{
    background-color: var(--CS_darkmode);
}
body.darkmode .popup{
    background: linear-gradient(45deg, var(--CP_darkmode), var(--CS_darkmode));
}
body.darkmode th{
    background-color: var(--CP_darkmode);
}
body.darkmode th:hover{
    background-color: var(--CS_darkmode);
}
body.darkmode td{
    color: var(--cor_primaria);
}
body.darkmode td:hover{
    color: var(--CP_darkmode);
}
body.darkmode .linkar-pop{
    color: var(--cor_primaria);
}
body.darkmode .linkar-pop:hover{
    color: var(--CP_darkmode);
}

/*
===============================================================================================================
Responsividade
===============================================================================================================
*/
@media(max-width:1024px){
    .treino-intro img{
        display: none;
    }
    .treino-intro p{
        width: 90%;
        margin-bottom: 4%;
    }
    .ir-treino{
        margin-bottom: 12%;
        width: 29%;
    }
    #link-personalizado{
        width: 30%;
    }
    #link-pro{
        width: 30%;
    }
    table{
        border-spacing: 2vh;
    }
    th{
        padding-inline: 4vh;
    }
    td, .linkar-pop{
        font-size: 100%;
        padding-block: 1.5%;
    }
}