:root{
    --cor_primaria: #00d9f8;
    --cor_secundaria: #1da3b8;
    --Backgroud: #dfdfdf;
    --CP_darkmode: #213872;
    --CS_darkmode: #0e2555;
    --BKG_darkmode: #303030;

    --Border_radius: 45px;
    --box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);
    --tamanho_fonte: 19px;
    --borda: 0.9px #1da3b8 solid;
    --borda-dk: 0.9px #213872 solid;
}

.entrar-link{
    display: block;
    width: 750px;
    margin: 0 auto;
    padding-top: 100px;
    margin-bottom: 80px;
}

.SN_home{
    font-size: 3rem;
    width: 750px;
    display: block;
    margin: 0 auto;

}

h3{
    margin-top: 100px;
    font-size: 40px;
}

.NS_texto{
    width: 610px;
    border: 0.8px var(--cor_secundaria) solid;
    border-radius: 30px;
    margin: auto;
    padding: 15px;
    margin-bottom: 60px;
    font-size: 21px;
    box-shadow: 9px 9px 10px 0px rgba(0, 0, 0, 0.514);
}

section{
    display: flex;
    justify-content: center;
}

section img{
    width: 170px;
}

.Beneficio_site{
    margin-bottom: 100px;
}

.Casa{
    width: 178px;
    border: 0.8px var(--cor_secundaria) solid;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 60px;
}

.Casa p{
    font-size: 20px;
    display: block;
    margin: auto;
}

.T_online{
   width: 178px;
   border: 0.8px var(--cor_primaria) solid;
   padding-left: 10px; 
   margin-right: 60px;
}

.T_online p{
    font-size: 20px;
}

.Dieta{
   width: 178px;
   border: 0.8px var(--cor_primaria) solid;
   padding-left: 10px; 
}

.Dieta p{
    font-size: 20px;
}

.outras-op {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center; /* centraliza o conteúdo horizontalmente */
    margin-bottom: 50px;
}

.ops {
    display: flex;
    justify-content: center; /* centraliza os itens dentro */
    flex-wrap: wrap; /* para quebrar linha caso tenha mais opiniões */
    gap: 20px; /* espaçamento entre opiniões */
    width: 100%; /* ocupa toda a largura disponível */
    max-width: 900px; /* limite máximo para não ficar esticado demais */
}


.Pessoa {
    margin-left: 11px;
    margin-top: 11px;
    width: 250px;
    border: 2px var(--cor_secundaria) solid;
    border-radius: 20px;
}

.Pessoa p{
    margin: 7px;
    font-size: 15px;
}

.Perfil_pessoa{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}

.Perfil_pessoa img{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
.Perfil_pessoa p{
    font-size: 14px;
}

.estrela-critica {
    width: 25px !important;
    height: auto !important;
    margin: 0px;
}


body.darkmode .NS_texto{
    border: 0.8px var(--CP_darkmode) solid;
}

body.darkmode .Casa{
    border: 0.8px var(--CP_darkmode) solid;
}

body.darkmode .T_online{
    border: 0.8px var(--CP_darkmode) solid;
}

body.darkmode .Dieta{
    border: 0.8px var(--CP_darkmode) solid;
}

body.darkmode .Pessoa{
    border: 0.8px var(--CP_darkmode) solid;
}