:root{
    --cor_primaria: #00d9f8;
    --cor_secundaria: #1da3b8;
    --Backgroud: #dfdfdf;
    --CP_darkmode: #213872;
    --CS_darkmode: #0e2555;
    --BKG_darkmode: #303030;

    --Border_radius: 45px;
    --box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);
    --tamanho_fonte: 19px;
    --borda: 0.9px #1da3b8 solid;
    --borda-dk: 0.9px #213872 solid;
}

h1{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

form{
    width: 30%;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: 1px var(--cor_primaria) solid;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 70px;
}

form h3{
    font-size: 32px;
    margin-top: 10px;
}

label{
    font-size: 18px;
    color: #303030;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 8px;
}

.nome-pag{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 18px;
}

.cartao-pag{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 18px;
}

.validade-pag{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 18px;
}

.cvv-pag{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 18px;
}

input, select{
    width: 55%;
    height: 30px;
    border: 1px var(--cor_primaria) solid;
    border-radius: 5px;
    font-size: 16px;
    background-color: transparent;
}

select{
    font-size: 19px;
    margin-bottom: 1.3em;
    color: #333333ab;
}

option{
    color: #3f3f3f;
    font-size: 19px;
    text-align: center;
    background: transparent;
}

b{
    font-size: 20px;
    text-align: center;
    color: white;
}

#pagar{
    width: 30%;
    margin: auto;
    height: 38px;
    background-color: var(--cor_primaria);
    border: 1px var(--cor_primaria) solid;
    border-radius: 8px;
    margin-bottom: 1em;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#pagar:hover{
    background-color: var(--cor_secundaria);
    border-color: var(--cor_secundaria);
    transition: 0.3s;
}

/*Modo noturno*/

body.darkmode form{
    border-color: var(--CP_darkmode);
}

body.darkmode input, select{
    border-color: var(--CP_darkmode);
}

body.darkmode select{
    color: #ffffff7c;
}

body.darkmode #pagar{
    background-color: var(--CP_darkmode);
    border-color: var(--CP_darkmode);
}

body.darkmode #pagar:hover{
    background-color: var(--CS_darkmode);
    border-color: var(--CS_darkmode);
}