:root{
    --cor_primaria: #00d9f8;
    --cor_secundaria: #1da3b8;
    --Backgroud: #dfdfdf;
    --CP_darkmode: #213872;
    --CS_darkmode: #0e2555;
    --BKG_darkmode: #303030;

    --Border_radius: 45px;
    --box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);
    --tamanho_fonte: 19px;
    --borda: 0.9px #1da3b8 solid;
    --borda-dk: 0.9px #213872 solid;
}

main{
    width: 610px;
    margin: auto;
    border: 2px var(--cor_primaria) solid;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 70px;
}

h2{
    margin-bottom: 30px;
}

.h2{
    margin: 0%;
    color: white;
    background-color: var(--cor_primaria);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    font-size: 40px;
}

.conteudo{
    display: flex;
    justify-content: space-between;
}

/*Perfil do usuário a esquerda*/
.info-user img{
    border: 1px var(--cor_secundaria) solid;
    border-radius: 100%;
    margin: 8px;
}

#nome-user{
    color: black;
    font-size: 25px;
    margin-left: 5px;
    margin-bottom: 10px;
    max-width: 200px;
    text-align: center;
}

#id-user{
   color: black;
    font-size: 20px;
    margin-left: 40px;
    display: flex;
    align-self: center; 
}

/*dados do usuário a direita*/
.dados-user{
    margin-right: 22px;
}

.dados-user h3{
    color: #303030;
    font-size: 26px;
    margin-bottom: 0px;
}

/*Estilização da parte do peso*/
.peso{
    border-radius: 9px;
    border: 2px var(--cor_secundaria) solid;
    width: 300px;
}

#peso-user{
    font-size: 16px;
    color: rgba(0,0,0,0.3);
    margin: 5px;
}

/*Estilização da parte da altura*/
.altura{
    border-radius: 9px;
    border: 2px var(--cor_secundaria) solid;
    width: 300px;
}

#altura-user{
    font-size: 16px;
    color: rgba(0,0,0,0.3);
    margin: 5px;
}

/*Estilização da parte da idade*/
.idade{
    border-radius: 9px;
    border: 2px var(--cor_secundaria) solid;
    width: 300px;
}

#idade-user{
    font-size: 16px;
    color: rgba(0,0,0,0.3);
    margin: 5px;
}

/*Estilização da parte do IMC*/
.imc{
    border-radius: 9px;
    border: 2px var(--cor_secundaria) solid;
    width: 300px;
    margin-bottom: 11px;
}

#imc-user{
    font-size: 15px;
    color: rgba(0,0,0,0.3);
    margin: 5.5px;
}

.info-user-text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black !important;
}

body.darkmode .info-user-text {
    color: white !important;
}


.meta {
    background: transparent;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    width: 600px;
    border: 2px var(--cor_primaria) solid;
    margin: auto;
    margin-bottom: 20px;
}

.metas-usuario{
    width: 600px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
}

.progress-container {
    width: 100%;
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
    height: 25px;
    margin: 5px 0;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background: linear-gradient(to right, var(--cor_primaria), var(--cor_secundaria));
    text-align: center;
    color: white;
    line-height: 25px;
    font-weight: bold;
    transition: width 0.3s ease;
}

.button {
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
    border: 2px var(--CP_darkmode) solid;
    background-color: transparent;
    border-radius: 8px;
    margin-left: 10px;
}

.button:hover{
    background-color: var(--CP_darkmode);
    color: white;
    transition: 0.3s;
}

input {
    padding: 5px;
    margin-top: 5px;
    border: 2px var(--cor_primaria) solid;
    margin-left: 10px;
    border-radius: 8px;
    background-color: transparent;
}

/*Modo noturno*/

body.darkmode #nome-user{
    color: white;
}

body.darkmode main{
    border-color: var(--CP_darkmode);
}

body.darkmode .h2{
    background-color: var(--CP_darkmode);
}

body.darkmode #id-user{
    color: white;
}

body.darkmode .peso{
    border-color: var(--CP_darkmode);
}

body.darkmode .altura{
    border-color: var(--CP_darkmode);
}

body.darkmode .idade{
    border-color: var(--CP_darkmode);
}

body.darkmode .imc{
    border-color: var(--CP_darkmode);
}

body.darkmode input{
    border-color: var(--CP_darkmode);
}

body.darkmode .info-user-text{
    color: white;
}

body.darkmode button{
    border-color: var(--cor_primaria);
    color: white;
}

body.darkmode button:hover{
    background-color: var(--cor_primaria);
    transition: 0.3s;
}

body.darkmode .meta{
    border-color: var(--CP_darkmode);
}

body.darkmode .progress-bar{
    background: linear-gradient(to right, var(--CP_darkmode), var(--CS_darkmode));
}

body.darkmode strong{
    color: white;
}