/*
===============================================================================================================
Geral
===============================================================================================================
*/
:root{
    --cor_primaria: #00d9f8;
    --cor_secundaria: #1da3b8;
    --Backgroud: #dfdfdf;
    --CP_darkmode: #213872;
    --CS_darkmode: #0e2555;
    --BKG_darkmode: #303030;

    --Border_radius: 45px;
    --box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);
    --tamanho_fonte: 19px;
    --borda: 0.9px #00d9f8 solid;
    --borda-dk: 0.9px #213872 solid;
}

.img-intro{
    width: 100%;
    margin-top: 0;
    max-height: 510px;
}

h2{
    font-size: 220%;
    margin-top: 6%;
}
/*
===============================================================================================================
Estilização do Sobre Nós
===============================================================================================================
*/
.sobre-nos{
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    padding-inline: 5%;
    align-items: flex-start;
}

.texto-intro-sobre{
    max-width: 65%;
    font-size: 110%;
}

/*
===============================================================================================================
Estilização dos nossos objetivos
===============================================================================================================
*/
.nossos-objetivos{
    display: flex;
    margin-top: 5%;
    padding-inline: 4%;
    justify-content: space-between;
    align-items: flex-start;
}
.texto-objetivo{
    max-width: 65%;
    font-size: 130%;
}

/*
===============================================================================================================
Estilização do fatos de nossa empresa
===============================================================================================================
*/
.fatos{
    margin-top: 5%;
}
.container-fatos{
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-bottom: 2%;
}
.fato-card{
    width: 20%;
    background-color: var(--cor_secundaria);
    text-align: center;
    border-radius: 15px
}
.fato-card h3{
    font-size: 140%;
}
.fato-card p{
    max-width: 70%;
    font-size: 130%;
    display: block;
    margin: auto;
    margin-top: -12px;
    margin-bottom: 20px;
    font-weight: 450;
}

/*
===============================================================================================================
Nossas metas
===============================================================================================================
*/
.nossas-metas{
    margin-top: 8%;
}
.container-meta{
    display: flex;
    justify-content: center;
    gap: 4%;
}
.meta-card{
    width: 26%;
    border-radius: 15px;
    border: var(--borda);
}
.meta-card p{
    max-width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

/*
===============================================================================================================
Nossa Equipe
===============================================================================================================
*/
.nossa-equipe{
    margin-top: 8%;
}
.container-equipe{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-bottom: 5%;
}
.membro img{
    width: 250px;
    height: 320px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
.membro h4{
    font-size: 150%;
}
.membro p{
    max-width: 250px;
    font-size: 18px;
    text-align: center;
    margin-top: -20px;
}

/*
===============================================================================================================
Modo Noturno
===============================================================================================================
*/
body.darkmode .fato-card{
    background-color: var(--CP_darkmode);
}
body.darkmode .meta-card{
    border-color: var(--CP_darkmode);
}