:root{
    --cor_primaria: #00d9f8;
    --cor_secundaria: #1da3b8;
    --Backgroud: #dfdfdf;
    --CP_darkmode: #213872;
    --CS_darkmode: #0e2555;
    --BKG_darkmode: #303030;

    --Border_radius: 45px;
    --box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);
    --tamanho_fonte: 19px;
    --borda: 0.9px #1da3b8 solid;
    --borda-dk: 0.9px #213872 solid;
}

*{
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/*Personalização do header*/
.fitunity {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 24px;
}

.logo{
    width: 60px;
    border-radius: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px; /* menor altura */
    flex-wrap: nowrap; /* evita quebra */
}

.Empresa {
    display: flex;
    align-items: center;
    gap: 10px;
}

.botaodk{
    background-color: transparent;
    font-size: 16px;
    padding: 7px;
    border-radius: 10px;
    border: 2px var(--CP_darkmode) solid;
    outline: none; /*remove o contorno extra ao focar*/
    box-shadow: none; /*Remove as sombras*/
    border-color: var(--CP_darkmode);
    color: white;
    margin-right: 8px;
    margin-left: 10px;
}

.botaodk:hover{
    transition: 0.4s;
    background-color: var(--CP_darkmode);
}

header a{
    color: white;
    overflow: hidden;
    text-decoration: none;
    font-size: 16px;
}

.Hlinks{
    margin-left: 10px;
}

.cadastroH{
    color: white;
    padding: 7px;
    background-color: var(--CP_darkmode);
    border: var(--CP_darkmode) solid;
    border-radius: 12px;
    font-size: 16px;
}

.entrarH{
    color: white;
    padding: 9px;
    border: 2px var(--CP_darkmode) solid;
    background-color: transparent;
    border-radius: 10px;
    font-size: 16px; 
    margin-right: 8px;
}

.entrarH:hover{
    background-color: var(--CP_darkmode);
    transition: 0.4s;
}

.botaodk, .cadastroH, .entrarH {
    padding: 4px 8px;
    font-size: 14px;
}

header{
    background-color: var(--cor_primaria);
}


/*Personalisação do footer*/
footer{
    background-color: var(--CP_darkmode);
    display: flex;
    margin-top: 130px;
}

footer img{
    width: 60px;
    border-radius: 100%;
    margin-top: 10px;
    margin-left: 10px;
}

footer a{
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

footer p{
    color: #fff;
    text-align: center;
}

.Coluna1{
    margin-left: 20px;
}

.Coluna2{
    margin-left: 40px;
    margin-top: 20px;
    display: block;
    text-align: center;
}

.Coluna3{
    margin-left: 43px;
    margin-top: 20px;
}

.Coluna4{
    margin-left: 43px;
    margin-top: 20px;
}

.fitunity_footer{
    color: #fff;
    font-size: 30px;
    font-family: 'Poppins' , sans-serif;
    margin-top: 25px;
}

footer h4{
    color: #fff;
}

/*Cores do modo escuro*/

body.darkmode {
    background-color: var(--BKG_darkmode);
}

body.darkmode header{
    background-color: var(--CP_darkmode);
}

body.darkmode .botaodk{
    border: 2px var(--cor_secundaria) solid;
}

body.darkmode .botaodk:hover{
    background-color: var(--cor_secundaria);
}

body.darkmode .cadastroH{
    background-color: var(--cor_secundaria);
    border-color: var(--cor_secundaria);
}

body.darkmode .entrarH{
    border-color: var(--cor_secundaria);
}

body.darkmode .entrarH:hover{
    background-color: var(--cor_secundaria)
}

body.darkmode p{
    color: #fff;
}

body.darkmode h1,
body.darkmode h2,
body.darkmode h3,
body.darkmode h4 {
    color: #fff;
}

