/*
===============================================================================================================
Estilo Geral
===============================================================================================================
*/

:root{
    --cor_primaria: #00d9f8;
    --cor_secundaria: #1da3b8;
    --Backgroud: #fff;
    --CP_darkmode: #213872;
    --CS_darkmode: #0e2555;
    --BKG_darkmode: #303030;

    --Border_radius: 45px;
    --box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);
    --borda: 1px #00d9f8 solid;
    --borda-dk: 1px #213872 solid;
}

*{
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #f8f8f8;
    overflow-x: hidden;
}
p{
    color: var(--CS_darkmode);
}
h1, h2{
    font-family: 'Poppins' , sans-serif;
    text-align: center;
    font-weight: 200;
    color: var(--CS_darkmode);
}

h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    color: var(--CS_darkmode);
}

/*=============================================================================================================
Personalização do header
=============================================================================================================*/
header{
    background-color: var(--cor_primaria);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding-right: 4px;
}

.empresa{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 10px;
}
.empresa img{
    border-radius: 100%;
}
.fitunity{
    color: white;
    font-size: 30px;
}
.nav-list{
    display: flex;
    gap: 20px;
    align-items: center;
}

header ul{
    display: flex;
    list-style: none;
    gap: 25px;
    margin-top: 13px;
}

.nav-link{
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
}
.nav-link:hover{
    color: var(--CP_darkmode);
}

.botoes-navbar a{
    color: white;
    text-decoration: none;
}
.botoes-navbar button{
    background-color: var(--CP_darkmode)!important; 
    transition: 0.3s;
    border-radius: 10px;
    padding: 8px;
    padding-inline: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    margin-top: -10px;
    border: none;
}
.botoes-navbar button:hover{
    background-color: var(--CS_darkmode) !important;
}
.botoes-navbar-mobile a{
    color: white;
    text-decoration: none;
}
.botoes-navbar-mobile button{
    background-color: var(--CP_darkmode);
    border-radius: 10px;
    padding: 4px;
    padding-inline: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10px;
    border: none;
}
.botoes-navbar-mobile button:hover{
    background-color: var(--CS_darkmode);
}
.menu-mobile-icone{
    display: none;
}
.mobile-menu{
    display: none;
}

/*=============================================================================================================
Personalisação do footer
=============================================================================================================*/
footer{
    background-color: var(--CP_darkmode);
    display: flex;
    margin-top: 130px;
    justify-content: center;
    gap: 10%;
}

footer img{
    width: 60px;
    border-radius: 100%;
    margin-top: 10px;
}

footer a{
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    text-align: left;
}

.Empresa{
    display: flex;
    gap: 4px;
}
.Empresa img{
    width: 70px;
    height: 70px;
    margin-bottom: -5px;
}

footer p{
    color: #fff;
    text-align: left;
}

.Coluna1{
    margin-left: 20px;
}

.Coluna2{
    margin-left: 40px;
    margin-top: 20px;
    display: block;
    text-align: left;
}

.Coluna3{
    margin-left: 43px;
    margin-top: 20px;
}

.Coluna4{
    margin-left: 43px;
    margin-top: 20px;
}

.fitunity_footer{
    color: #fff;
    font-size: 30px;
    font-family: 'Poppins' , sans-serif;
    margin-top: 25px;
}

footer h4{
    color: #fff;
    text-align: left;
}

/*=============================================================================================================
Cores do modo escuro
=============================================================================================================*/

body.darkmode {
    background-color: var(--BKG_darkmode);
}
body.darkmode header{
    background-color: var(--CP_darkmode);
}
body.darkmode .botoes-navbar button{
    background-color: var(--cor_primaria) !important;
}
body.darkmode .botoes-navbar button:hover{
    transition: 0.3s;
    background-color: var(--cor_secundaria) !important;
}
body.darkmode .botoes-navbar-mobile button{
    background-color: var(--cor_primaria) !important;

}
body.darkmode .botoes-navbar-mobile button:hover{
    background-color: var(--cor_secundaria) !important;
}
body.darkmode .cadastro-header{
    background-color: var(--cor_primaria) !important;
}
body.darkmode .cadastro-header:hover{
    transition: 0.3s;
    background-color: var(--cor_secundaria) !important;
    border-color: var(--cor_secundaria);
}
body.darkmode .nav-link:hover{
    color: var(--cor_primaria);
}
body.darkmode p{
    color: #fff;
}
body.darkmode h1,
body.darkmode h2,
body.darkmode h3,
body.darkmode h4 {
    color: #fff;
}

/*==============================================================================================================
Responsividades
=============================================================================================================*/
@media(min-width:1870px){
    footer{
        margin-top: 40vh;
    }
}

@media(max-width: 1024px){
    footer{
        gap: 70px;
    }
    .Empresa{
        flex-direction: column;
    }
    .Empresa img{
        display: block;
        margin: auto;
        margin-top: 8px;
        margin-bottom: -15px;
    }
}

@media (max-width: 902px){
    footer{
        gap: 30px;
    }
    .nav-link{
        font-size: 14px;
    }
    header ul{
        gap: 10px;
    }
}

/* Responsividade do header */
@media (max-width: 770px){
    .nav-link{
        font-size: 14px;
    }
    .empresa img{
        width: 50px;
    }
    .fitunity{
        font-size: 20px;
    }
    header ul{
        gap: 8px;
    }
    .botoes-navbar button{
        font-size: 14px;
    }
    footer {
        gap: 32px;
        padding: 20px;
        text-align: center;
    }

    .Coluna1, .Coluna2, .Coluna3, .Coluna4 {
        margin-left: 0;
        margin-top: 0;
        text-align: center;
    }

    footer img {
        width: 50px; /* Ajusta o tamanho da logo no rodapé */
    }

    footer h4 {
        text-align: center;
    }

    .Redes_sociais, .Termos, .Contatos {
        margin-bottom: 15px;
    }

    .fitunity_footer {
        font-size: 24px; /* Ajusta o tamanho da logo no rodapé */
        margin-top: 10px;
    }
    
    footer p{
        text-align: center;
    }
}

@media (max-width: 484px){
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    .botoes-navbar{
        display: none;
    }
    .empresa{
        margin-left: -40px;
    }
    .menu-mobile-icone{
        display: block;
    }
    .menu-mobile-icone button{
        background: transparent;
        border: none;
        cursor: pointer;
        align-items: center;
        margin-top: 27%;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        margin-left: -35px;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .botoes-navbar-mobile{
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .botoes-navbar-mobile button{
        width: 200px;
        display: block;
        margin: auto;
        margin-bottom: 13px;
    }
    .open{
        display: block;
    }
    .fitunity_footer {
        font-size: 30px; /* Ajusta ainda mais o tamanho da logo no rodapé */
    }
    .logo-footer{
        width: 90px;
        height: 90px;
    }
    footer p {
        font-size: 14px; /* Reduz o tamanho da fonte dos contatos */
        text-align: center;
    }
    footer a {
        font-size: 14px; /* Ajusta o tamanho das fontes no rodapé */
    }
    footer{
        display: block;
    }
    footer p{
        text-align: center;
        font-size: 20px;
    }
    footer a{
        font-size: 20px;
    }
    footer h4{
        font-size: 23px;
    }

    footer {
        gap: 20px;
        padding: 10px;
        text-align: center;
        display: block;
    }
}

@media (max-width: 323px){
    .menu-mobile-icone{
        margin-right: -45px;
    }
    .empresa{
        margin-left: -60px;
    }
    .empresa img{
        width: 50px;
    }
    .fitunity{
        font-size: 22px;
    }
    .logo-footer{
        width: 80px;
        height: 80px;
    }
    .fitunity_footer{
        font-size: 30px;
    }
    .mobile-menu .botoes-navbar-mobile button{
        width: 190px;
        display: block;
        margin: auto;
        margin-bottom: 13px;
        font-size: 16px;
    }
    .nav-link{
        font-size: 16px;
        text-align: center;
    }
    .mobile-menu ul{
        margin-left: -35px;
    }
}

