:root{
    --cor_primaria: #00d9f8;
    --cor_secundaria: #1da3b8;
    --Backgroud: #dfdfdf;
    --CP_darkmode: #213872;
    --CS_darkmode: #0e2555;
    --BKG_darkmode: #303030;

    --Border_radius: 45px;
    --box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);
    --tamanho_fonte: 19px;
    --borda: 0.9px #1da3b8 solid;
    --borda-dk: 0.9px #213872 solid;
}

#treinolink{
    color: var(--CS_darkmode);
}

h1{
    margin-top: 40px;
    margin-bottom: 60px;
}

main{
    width: 65%;
    display: block;
    margin: auto;
}

.cards-treino{
    width: 100%;
    display: flex;
}

.card-treino{
    width: 32%;
    height: 427px;
    border: 1px var(--cor_primaria) solid;
    margin: 3%;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.card-treino li{
    font-size: 15px;
    max-width: 90%;
    margin-top: 10px;
}

.card-treino p{
    font-size: 16px;
    text-align: center;
}

.card-titulo {
    display: flex;
    align-items: flex-start; /* mantém alinhado pelo topo (ou center se preferir) */
    gap: 1px; /* espaço entre a imagem e o texto */
}

.card-titulo img {
    width: 40px;      /* largura fixa */
    height: 40px;     /* altura fixa */
    flex-shrink: 0;   /* não deixa a imagem diminuir */
    flex-grow: 0;     /* não deixa a imagem aumentar */
    object-fit: contain; /* garante que não deforma */
    margin-top: 12px;
    margin-left: 5px;
}

.card-titulo h3{
    font-size: 15px;
    margin-right: 3px;
}

/*Modo noturno*/
body.darkmode .card-treino{
    border-color: var(--CP_darkmode);
}

body.darkmode .card-treino li{
    color: white;
}