:root{
    --cor_primaria: #00d9f8;
    --cor_secundaria: #1da3b8;
    --Backgroud: #dfdfdf;
    --CP_darkmode: #213872;
    --CS_darkmode: #0e2555;
    --BKG_darkmode: #303030;

    --Border_radius: 45px;
    --box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);
    --tamanho_fonte: 19px;
    --borda: 0.9px #1da3b8 solid;
    --borda-dk: 0.9px #213872 solid;
}

h1{
    font-size: 7vh;
}

.voltar-pag{
    background-color: var(--cor_primaria);
    color: white;
    font-weight: bold;
    border-radius: 15px;
    text-decoration: none;
    padding-block: 1%;
    padding-inline: 2%;
    display: block;
    width: 23%;
    text-align: center;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 4%;
}

/*
===============================================================================================================
Formulário
===============================================================================================================
*/
form{
    text-align: center;
}
form div{
    display: block;
    margin: auto;
    margin-bottom: 6vh;
}
label{
    text-align: center;
    color: #303030;
    font-family: 'Montserrat' , sans-serif;
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 4vh;
}
input{
    border: 2px solid var(--cor_primaria);
    width: 50vh;
    height: 6vh;
    border-radius: 8px;
    background-color: transparent;
}
textarea{
    border: 2px solid var(--cor_primaria);
    width: 50vh;
    height: 25vh;
    resize: none;
    border-radius: 8px;
    background-color: transparent;
}
#envi{
    background-color: var(--CP_darkmode);
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 4vh;
    padding-block: 1vh;
    padding-inline: 2vh;
    transition: 0.4s;
}
#envi:hover{
    background-color: var(--CS_darkmode);
}

/*
===============================================================================================================
Treino escondido
===============================================================================================================
*/
.treino{
    display: block;
    transition: 0.5s;
}
.treino-card{
    width: 90%;
    background-color: var(--cor_primaria);
    display: block;
    margin: auto;
    padding: 1vh;
    border-radius: 15px;
}
.treino-card ul{
    color: var(--CP_darkmode);
}
.treino-card li{
    margin-bottom: 2vh;
}
.treino-card p{
    padding-inline: 1vh;
    font-size: 3.5vh;
}
.fechar{
    background: none;
    border: none;
    color: red;
    font-size: 130%;
    font-weight: bold;
    display: block;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

/*
===============================================================================================================
Perfil do personal
===============================================================================================================
*/
.perfil-personal{
    width: 50%;
    display: block;
    margin: auto;
    border: 2px var(--cor_primaria) solid;
    border-radius: 10px;
}
.container-perfil{
    display: flex;
    justify-content: space-between;
    padding-inline: 2%;
    padding-block: 2%;
}
.personal{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
    border: 1px var(--cor_primaria) solid;
}
.personal-trainer p{
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}
.texto{
    width: 70%;
    text-align: left;
}
.texto p {
    text-align: left;
    margin-left: 6%;
}
.texto div{
    gap: 3%;
    margin-bottom: 2%;
    align-items: center;
}
.infos{
    border: 2px solid var(--cor_primaria);
    border-radius: 4px;
    padding-inline: 1%;
    padding-block: 2%;
}

/*
===============================================================================================================
Modo noturno
===============================================================================================================
*/
body.darkmode .voltar-pag{
    background-color: var(--CP_darkmode);
}
body.darkmode input, body.darkmode textarea{
    color: white;
    border-color: var(--CP_darkmode);
}
body.darkmode #envi{
    background-color: var(--cor_primaria);
}
body.darkmode #envi:hover{
    background-color: var(--cor_secundaria);
}
body.darkmode .treino-card{
    background-color: var(--CP_darkmode);
}
body.darkmode .treino-card li{
    color: white;
}
body.darkmode .perfil-personal, 
body.darkmode .personal, 
body.darkmode .infos{
    border-color: var(--CP_darkmode);
}

/*
===============================================================================================================
Responsividade
===============================================================================================================
*/
@media(max-width:1024px){
    .voltar-pag{
        width: 50vh;
    }
    .perfil-personal{
        width: 55%;
    }
}

@media(max-width:900px){
    .voltar-pag{
        width: 54vh;
    }
    .perfil-personal{
        width: 58%;
    }
    input, textarea{
        width: 40%;
    }
}

@media(max-width:768px){
    .perfil-personal{
        width: 70%;
    }
    input, textarea{
        width: 45%;
    }
}

@media(max-width:480px){
    input, textarea{
        width: 55%;
    }
    textarea{
        height: 40vh;
    }
    .perfil-personal{
        width: 90%;
    }
    .personal{
        width: 160px;
        height: 160px;
        display: block;
        margin: auto;
    }
}

@media(max-width:420px){
    input, textarea{
        width: 70%;
    }
    .container-perfil{
        flex-direction: column;
        justify-content: center;
    }
    .container-perfil h3{
        text-align: center;
        font-size: 5vh;
    }
    .texto{
        width: 90%;
        display: block;
        margin: auto;
    }
    .voltar-pag{
        width: 80%;
    }
}
@media(max-width:320px){
    input, textarea{
        width: 80%;
    }
    .texto p{
        text-align: center;
    }
}