:root{
    --cor_primaria: #00d9f8;
    --cor_secundaria: #1da3b8;
    --Backgroud: #dfdfdf;
    --CP_darkmode: #213872;
    --CS_darkmode: #0e2555;
    --BKG_darkmode: #303030;
    --transparente: rgba(0, 217, 248, 0.3);
    --transparent_dk: rgba(33, 56, 114, 0.3);

    --Border_radius: 45px;
    --box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);
    --borda: 1px #00d9f8 solid;
    --borda-dk: 1px #213872 solid;
}
h1{
    font-size: 200%;
}
.voltar-pag{
    background-color: var(--cor_primaria);
    color: white;
    font-weight: bold;
    border-radius: 15px;
    text-decoration: none;
    padding-block: 1%;
    padding-inline: 2%;
    display: block;
    width: 23%;
    text-align: center;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 4%;
}

.nav-ta{
    display: flex;
    justify-content: center;
    gap: 4%;
}
.nav-ta a{
    color: var(--cor_primaria);
    font-weight: bold;
    text-decoration: none;
    font-size: 4vh;
}

.section {
  max-width: 1100px;
  margin: 60px auto;
  padding: 20px;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

section p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.treino {
  display: block;
  align-items: stretch;
  margin-bottom: 80px;
  gap: 20px;
}

.treino:nth-child(even) {
  flex-direction: row-reverse;
}

.card {
  flex: 1;
  background: #1da3b8;
  color: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

.card h3 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.card ul {
  margin-left: -3vh;
  margin-bottom: 15px;
}

.card li{
    margin-bottom: 2vh;
}

.card p {
  font-size: 1rem;
}

.explicacao {
  flex: 2;
  background: none;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding: 10px;
}

.voltar {
  display: block;
  margin: 30px auto;
  text-align: center;
  padding: 12px 20px;
  border-radius: 10px;
  background: #213872;
      color: white;
  text-decoration: none;
  width: fit-content;
  font-size: 1rem;
}

/*
===============================================================================================================
Modo noturno
===============================================================================================================
*/
body.darkmode .voltar-pag{
  background-color: var(--CP_darkmode);
}
body.darkmode .voltar{
  background-color: var(--cor_primaria);
}
body.darkmode .card{
  background-color: var(--CP_darkmode);
}
body.darkmode .nav-ta a{
  color: var(--CP_darkmode);
}

/*
===============================================================================================================
Responsividade
===============================================================================================================
*/
@media(min-width:1870px){
  h1{
    font-size: 260%;
  }
  .section{
    max-width: 80%;
    width: 80%;
    padding-inline: 2%;
  }
  .section li, .section p, .section h2, .section h3{
    font-size: 170%;
  }
  .voltar{
    font-size: 150%;
  }
}

@media(max-width:900px){
  .voltar-pag{
    width: 33%;
  }
}

@media (max-width: 768px) {
  .treino {
        flex-direction: column;
  }
  .treino:nth-child(even) {
        flex-direction: column;
  }
  .explicacao {
        padding: 0;
  }
  .voltar-pag{
    width: 38%;
  }
}

@media(max-width:480px){
  .voltar-pag{
    width: 50vh;
    padding-block: 2vh;
  }
}

@media(max-width:420px){
  .nav-ta{
    flex-direction: column;
  }
  .nav-ta a{
    display: block;
    margin: auto;
    margin-bottom: 5%;
  }
}
