:root{
    --cor_primaria: #00d9f8;
    --cor_secundaria: #1da3b8;
    --Backgroud: #dfdfdf;
    --CP_darkmode: #213872;
    --CS_darkmode: #0e2555;
    --BKG_darkmode: #303030;
    --transparente: rgba(0, 217, 248, 0.2);
    --transparent_dk: rgba(33, 56, 114, 0.2);

    --Border_radius: 45px;
    --box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);
    --borda: 1px #00d9f8 solid;
    --borda-dk: 1px #213872 solid;
}

h1{
    font-size: 200%;
    margin-top: 5%;
}

.intro-treino-free{
    width: 100%;
    background-color: var(--transparente);
}

.container-tf{
    display: flex;
    justify-content: space-between;
}

.container-tf p{
    max-width: 60%;
    margin: 1%;
    margin-left: 2%;
    font-size: 120%;
}

.container-tf img{
    width: 20%;
    height: 20%;
    margin: 1%;
    border-radius: 2%;
    margin-right: 2%;
}

.nav{
    display: flex;
    justify-content: center;
    margin-bottom: 9%;
}

.navA{
    color: var(--cor_secundaria);
    text-decoration: none;
    font-weight: bold;
    margin-top: 1% ;
}

.navA:hover{
    color: var(--CS_darkmode);
    transition: 0.3s;
}

#fullbody{
    margin-top: 5%;
}

.fullbody h2{
    font-size: 160%;
}

.fullbody-cards{
    display: flex;
    justify-content: center;
}

.mini-titulo{
    font-weight: bold;
    font-family: 'Montserrat' , sans-serif;
    display: flex;
    justify-content: center;
    font-size: 120%;
    margin-bottom: 0;
}

#fullbody-card{
    width: 18%;
    border: var(--borda);
    border-radius: 12px;
    padding: 1%;
    font-size: 95%;
}

#fullbody-card:hover{
    width: 20%;
    box-shadow: var(--box-shadow);
    transition: 0.3s;
}

.video-fullbody{
    margin-top: 6%;
}

.container-video{
    display: flex;
    justify-content: space-between;
    background-color: var(--transparente);
}

.iframe {
  border-radius: 20px;
  width: 38%; /* ocupa o container */
  max-width: 600px; /* limite opcional */
  aspect-ratio: 16/9; /* mantém proporção 16:9 */
  height: auto;
  margin-left: 5%;
  border: 4px var(--cor_primaria) solid;
  margin-top: 2%;
  margin-bottom: 2%;
}

.explicacao-fullbody{
    margin-right: 5%;
    margin-top: 1%;
    margin-left: 2%;
    max-width: 58%;
}

.treinos{
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 3%;
}

.container-treinos{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.fullbody-casa{
    width: 44%;
    border: var(--borda);
    border-radius: 16px;
}

.fullbody-casa p{
    max-width: 92%;
    margin-left: 4%;
    margin-top: 5%;
}

.fullbody-academia{
    width: 44%;
    border: var(--borda);
    border-radius: 16px;
}

.fullbody-academia p{
   max-width: 92%;
    margin-left: 4%;
    margin-top: 5%; 
}

li{
    color: var(--CP_darkmode);
    max-width: 96%;
    margin-bottom: 3%;
}

.topo{
    color: var(--cor_primaria);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 130%;
    cursor: pointer;
    margin-top: 4%;
}

.topo:hover{
    color: var(--CP_darkmode);
    transition: 0.3s;
}

.intro-peito{
    display: flex;
    justify-content: space-between;
    background-color: var(--transparente);
}

.intro-peito img{
    width: 20%;
    margin: 2%;
    margin-left: 4%;
    border-radius: 2%;
}

.intro-peito-texto{
    max-width: 76%;
    margin-right: 5%;
}

.intro-peito-texto h3{
    font-size: 150%;
}

.intro-peito-texto p{
    font-size: 115%;
}

#costa{
    margin-top: 6%;
}
#costa h2{
    font-size: 200%;
}
.intro-costa{
    width: 60%;
    border: 2px var(--cor_primaria) solid;
    display: block;
    margin: auto;
    border-radius: 15px;
    padding: 12px;
}

.intro-costa p{
    font-size: 120%;
    margin: 0;
}

.container-video-peito{
    display: flex;
}

.iframe-peito{
    border-radius: 20px;
    width: 27%; /* ocupa o container */
    max-width: 600px; /* limite opcional */
    aspect-ratio: 16/9; /* mantém proporção 16:9 */
    height: auto;
    margin-left: 5%;
    border: 4px var(--cor_primaria) solid;
    margin-top: 2%;
    margin-bottom: 2%;
}

#card-treino-peito{
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 4%;
    border: 2px var(--cor_primaria) solid;
    border-radius: 15px;
    padding: 1%;
    font-size: 120%;
    margin-bottom: 4%;
}

.peito-casa{
    width: 44%;
    border: var(--borda);
    border-radius: 16px;
}

.peito-casa p{
    max-width: 92%;
    margin-left: 4%;
    margin-top: 5%;
}

.peito-academia{
    width: 44%;
    border: var(--borda);
    border-radius: 16px;
}

.peito-academia p{
    max-width: 92%;
    margin-left: 4%;
    margin-top: 5%;
}


/*Botões de Ler mais e Ler menos*/
#ler-mais{
    color: var(--cor_primaria);
    font-weight: bold;
    font-size: 120%;
    cursor: pointer;
}

#ler-mais:hover{
    color: var(--CP_darkmode);
    transition: 0.3s;
}

#ler-menos {
    color: var(--cor_primaria);
    font-weight: bold;
    font-size: 120%;
    cursor: pointer;
}

#ler-menos:hover{
    color: var(--CP_darkmode);
    transition: 0.3s;
}

#ler-mais2{
    color: var(--cor_primaria);
    font-weight: bold;
    font-size: 120%;
    cursor: pointer;
}

#ler-mais2:hover{
    color: var(--CP_darkmode);
    transition: 0.3s;
}

#ler-menos2 {
    color: var(--cor_primaria);
    font-weight: bold;
    font-size: 120%;
    cursor: pointer;
}

#ler-menos2:hover{
    color: var(--CP_darkmode);
    transition: 0.3s;
}

#ler-mais3{
    color: var(--cor_primaria);
    font-weight: bold;
    font-size: 120%;
    cursor: pointer;
}

#ler-mais3:hover{
    color: var(--CP_darkmode);
    transition: 0.3s;
}

#ler-menos3 {
    color: var(--cor_primaria);
    font-weight: bold;
    font-size: 120%;
    cursor: pointer;
}

#ler-menos3:hover{
    color: var(--CP_darkmode);
    transition: 0.3s;
}

#ler-mais4{
    color: var(--cor_primaria);
    font-weight: bold;
    font-size: 120%;
    cursor: pointer;
}

#ler-mais4:hover{
    color: var(--CP_darkmode);
    transition: 0.3s;
}

#ler-menos4 {
    color: var(--cor_primaria);
    font-weight: bold;
    font-size: 120%;
    cursor: pointer;
}

#ler-menos4:hover{
    color: var(--CP_darkmode);
    transition: 0.3s;
}

/*Modo noturno*/
body.darkmode .intro-treino-free{
    background-color: var(--transparent_dk);
}

body.darkmode .navA{
    color: var(--CP_darkmode);
}

body.darkmode .navA:hover{
    color: var(--cor_primaria);
}

body.darkmode #fullbody-card{
    border-color: var(--CP_darkmode);
}

body.darkmode .container-video{
    background-color: var(--transparent_dk);
}

body.darkmode iframe{
    border-color: var(--CP_darkmode);
}

body.darkmode .fullbody-casa{
    border-color: var(--CP_darkmode);
}

body.darkmode .fullbody-academia{
    border-color: var(--CP_darkmode);
}

body.darkmode li{
    color: var(--cor_primaria);
}

body.darkmode .intro-peito {
    background-color: var(--transparent_dk);
}

body.darkmode #card-treino-peito{
    border-color: var(--CP_darkmode);
}